# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# IDE settings (PyCharm)
.idea/

# Distribution / build
dist/
build/
*.egg-info/

# Ignore JSON files
*.json

# Ignore PDF files
*.pdf

# Ignore text files
*.txt
